<div class="_kiwi-rating-container">
    <input class="_kiwi-rating-input" type="radio" id="star5" name="rating" value="5" />
    <label class="_kiwi-rating-label" for="star5" title="5 stars">5 stars</label>
    <input class="_kiwi-rating-input" type="radio" id="star4" name="rating" value="4" />
    <label class="_kiwi-rating-label" for="star4" title="4 stars">4 stars</label>
    <input class="_kiwi-rating-input" type="radio" id="star3" name="rating" value="3" />
    <label class="_kiwi-rating-label" for="star3" title="3 stars">3 stars</label>
    <input class="_kiwi-rating-input" type="radio" id="star2" name="rating" value="2" />
    <label class="_kiwi-rating-label" for="star2" title="2 stars">2 stars</label>
    <input class="_kiwi-rating-input" type="radio" id="star1" name="rating" value="1" />
    <label class="_kiwi-rating-label" for="star1" title="1 star">1 star</label>
</div>