*.log
npm-debug.log*

# Coverage directory used by tools like istanbul
coverage
.nyc_output

# Dependency directories
node_modules

# npm package lock
package-lock.json
yarn.lock

# project files
src
CHANGELOG.md
.babelrc
.gitignore
__tests__
.rollup.config.js
.rollup.config.dev.js
jest.config.js
custom-elements-example.json
babel.config.js
.prettierrc
.prettierignore
.npmignore
.lintstagedrc
.huskyrc
.gitignore
.eslintrc.json
.eslintignore
.editorconfig
development