@import "../../../Assets/Stylesheets/variables.scss";

:host {
  display: flex;
  flex: 1;
}

#container {
  display: flex;
  flex: 1;
  align-items: center;
  white-space: nowrap;
  overflow: hidden;
}