@import "../../Assets/Stylesheets/variables.scss";
@import "../../Assets/Stylesheets/Components/typography.scss";

label {
	@extend %subtitle-2;
	display: none;
	margin-bottom: 0.5rem;
}

:host([label]) label {
	display: block;
}

div {
	width: 100%;
	display: flex;
	flex-direction: row;
	gap: var(--kiwi-form-gap, 1.5rem);
}

:host([direction="column"]) div {
	flex-direction: column;
}
