@import "../../Stylesheets/variables.scss";
@import "../../Stylesheets/Internal/typography.scss";

#container {
	display: flex;
}

#tab-button-container {
	position: relative;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 0.5rem;
	margin-bottom: 0.75rem;
	border-bottom: 0.125rem solid $neutral-color-100;
}

#slider {
	position: absolute;
	background: $primary-color-500;
	transition: 200ms;
	border-radius: 0.25rem;
}

:host([noborder]) #tab-button-container {
	border: none !important;
}

:host(:not([direction="column"])) #container {
	flex-direction: column;
}

:host([direction="column"]) #container {
	flex-direction: row;
	#tab-button-container {
		flex-direction: column;
		margin: 0;
		margin-right: 0.75rem;
		border-bottom: none;
		border-right: 0.125rem solid $neutral-color-100;
	}
	::slotted(kiwi-tab) {
		padding: 0.75rem;
	}
}

::slotted(kiwi-tab) {
	//Equivalent to subtitle-1 but with body font
	font-family: $font-family-body !important;
	-webkit-font-smoothing: antialiased !important;
	-moz-osx-font-smoothing: grayscale !important;
	color: $foreground-color-dark-faded !important;
	line-height: 1.2em !important;
	font-size: 1rem !important;
	font-weight: 700 !important;
	padding: 1rem 0.5rem;
	white-space: nowrap;
	opacity: 0.7;
	cursor: pointer;
	transition: all 200ms;
}
::slotted(kiwi-tab[disabled]) {
	cursor: not-allowed;
	opacity: 0.4;
}
::slotted(kiwi-tab:hover:not([disabled])) {
	opacity: 1;
	color: $primary-color-500 !important;
}
::slotted(kiwi-tab[active-tab]:not([disabled])) {
	opacity: 1;
	color: $primary-color-500 !important;
}

/** Variants */

:host([variant="popup"]) {
	#slider {
		display: none;
	}
	::slotted(kiwi-tab) {
		&::before {
			content: "";
			position: absolute;
			left: 0;
			bottom: 0;
			background-color: $primary-color-500;
			width: 100%;
			height: 0rem;
			transition: height 200ms;
			border-radius: 0.25rem;
		}
	}
	::slotted(kiwi-tab:hover:not([disabled])),
	::slotted(kiwi-tab[active-tab]:not([disabled])) {
		opacity: 1;
		color: $primary-color-500 !important;
		transform: translateY(-0.25rem);
		position: relative;
		&::before {
			height: 0.25rem;
		}
	}	
}

:host([variant="popup"][direction="column"]) {
	::slotted(kiwi-tab) {
		&::before {
			content: "";
			position: absolute;
			left: unset;
			bottom: unset;
			right: 0;
			top: 0;
			background-color: $primary-color-500;
			width: 0rem;
			height: 100%;
			transition: width 200ms;
			border-radius: 0.25rem;
		}
	}
	::slotted(kiwi-tab:hover:not([disabled])),
	::slotted(kiwi-tab[active-tab]:not([disabled])) {
		transform: translateX(-0.25rem);
		&::before {
			width: 0.25rem;
		}
	}
}

:host([variant="button"]) {
	#slider {
		display: none;
	}
	::slotted(kiwi-tab) {
		border-radius: $border-radius-small;
		padding: 0.5rem;
		transition: color 200ms, background-color 200ms;
	}
	::slotted(kiwi-tab:hover:not([disabled])),
	::slotted(kiwi-tab[active-tab]:not([disabled])) {
		opacity: 1;
		color: $primary-color-600 !important;
		background-color: $primary-color-100 !important;
	}	
}
