@import "../../Stylesheets/variables.scss";
@import "../../Stylesheets/Internal/typography.scss";

#container {
	display: flex;
}

#tab-button-container {
	position: relative;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 0.5rem;
	margin-bottom: 0.75rem;
	border-bottom: 0.125rem solid $neutral-color-300;
}

#slider {
	position: absolute;
	background: $primary-color-600;
	transition: 200ms;
	border-radius: 0.25rem;
}

:host([noborder]) #tab-button-container {
	border: none !important;
}

:host(:not([direction="column"])) #container {
	flex-direction: column;
}

:host([direction="column"]) #container {
	flex-direction: row;
	#tab-button-container {
		flex-direction: column;
		margin: 0;
		margin-right: 0.75rem;
		border-bottom: none;
		border-right: 0.125rem solid $neutral-color-300;
	}
	::slotted(kiwi-tab) {
		padding: 0.75rem;
	}
}

::slotted(kiwi-tab) {
	//Equivalent to subtitle-1 but with body font
	font-family: $font-family-body !important;
	-webkit-font-smoothing: antialiased !important;
	-moz-osx-font-smoothing: grayscale !important;
	color: $neutral-color-900 !important;
	line-height: 1.2em !important;
	font-size: 1rem !important;
	font-weight: 700 !important;
	padding: 1rem 0.5rem;
	white-space: nowrap;
	opacity: 0.7;
	cursor: pointer;
}
::slotted(kiwi-tab[disabled]) {
	cursor: not-allowed;
	opacity: 0.4;
}
::slotted(kiwi-tab:hover:not([disabled])) {
	opacity: 1;
	color: $primary-color-600 !important;
}
::slotted(kiwi-tab[active-tab]:not([disabled])) {
	opacity: 1;
	color: $primary-color-600 !important;
}
