$dark-base: #22292f;
$light-base: #ffffff;

$primary-50: #ecfce9;
$primary-100: #d5f8cf;
$primary-200: #aff1a5;
$primary-300: #7de670;
$primary-400: #52d744; //dark foreground
$primary-500: #2eaf23; //light foreground
$primary-600: #22961a;
$primary-700: #1c7318;
$primary-800: #1b5b19;
$primary-900: #1a4e19;

$secondary-50: #eef2ff;
$secondary-100: #e0e7ff;
$secondary-200: #c7d2fe;
$secondary-300: #a5b4fc; //dark foreground
$secondary-400: #818cf8; //light foreground
$secondary-500: #6366f1; //#b39af9 #acacec
$secondary-600: #4f46e5;
$secondary-700: #4338ca;
$secondary-800: #3730a3;
$secondary-900: #312e81;

$neutral-50: #f9fafb;
$neutral-100: #f3f4f6;
$neutral-200: #e5e7eb;
$neutral-300: #d1d5db; //dark foreground
$neutral-400: #9ca3af; //light foreground
$neutral-500: #6b7280;
$neutral-600: #4b5563;
$neutral-700: #374151;
$neutral-800: #1f2937;
$neutral-900: #111827;

$info-50: #eff6ff;
$info-100: #dbeafe;
$info-200: #bfdbfe;
$info-300: #93c5fd; //dark foreground
$info-400: #60a5fa; //light foreground
$info-500: #3b82f6;
$info-600: #2563eb;
$info-700: #1d4ed8;
$info-800: #1e40af;
$info-900: #1e3a8a;

$success-50: #f0fdf4;
$success-100: #dcfce7;
$success-200: #bbf7d0;
$success-300: #86efac; //dark foreground
$success-400: #4ade80; //light foreground
$success-500: #21c05b; 
$success-600: #16a34a;
$success-700: #15803d;
$success-800: #166534;
$success-900: #14532d;

$warning-50: #fefce8;
$warning-100: #fef9c3;
$warning-200: #fef08a;
$warning-300: #fde047;
$warning-400: #facc15;
$warning-500: #eab308; //dark foreground
$warning-600: #ca8a04; //light foreground
$warning-700: #a16207;
$warning-800: #854d0e;
$warning-900: #713f12;

$error-50: #fef2f2;
$error-100: #fee2e2;
$error-200: #fecaca;
$error-300: #fca5a5; //dark foreground
$error-400: #f87171; //light foreground
$error-500: #ef4444;
$error-600: #dc2626;
$error-700: #b91c1c;
$error-800: #991b1b;
$error-900: #7f1d1d;

//Gradients
$gradient-color-primary: linear-gradient(90deg, #{$primary-400} 0%, #{$primary-600} 100%);
$gradient-color-secondary: linear-gradient(90deg, #{$secondary-400} 0%, #{$secondary-600} 100%);
$gradient-color-neutral: linear-gradient(90deg, #{$neutral-400} 0%, #{$neutral-600} 100%);
$gradient-color-info: linear-gradient(90deg, #{$info-400} 0%, #{$info-600} 100%);
$gradient-color-success: linear-gradient(90deg, #{$success-400} 0%, #{$success-600} 100%);
$gradient-color-warning: linear-gradient(90deg, #{$warning-400} 0%, #{$warning-600} 100%);
$gradient-color-error: linear-gradient(90deg, #{$error-400} 0%, #{$error-600} 100%);

$foreground-light: $light-base;
$foreground-light-faded: $neutral-400;
$foreground-dark: $neutral-900;
$foreground-dark-faded: $neutral-500;