$small-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
$medium-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
$large-shadow: 0 3px 10px rgba(0,0,0,.12);
$extra-large-shadow: 0 15px 20px rgba(0, 0, 0, 0.12);
$subtle-shadow-bottom: 0 8px 8px -10px rgba(0, 0, 0, 0.2);
$subtle-shadow-top: 0 -8px 8px -10px rgba(0, 0, 0, 0.2);