@import "../../Stylesheets/variables.scss";
@import "../../Stylesheets/Internal/typography.scss";

#container {
	--border-color: var(--kiwi-alert-border-color, #{$primary-color-400});
	--background-color: var(--kiwi-alert-background-color, #{$primary-color-50});
	--header-color: var(--kiwi-alert-header-color, #{$primary-color-800});
	--body-color: var(--kiwi-alert-body-color, #{$primary-color-700});
	--stroke-color: var(--kiwi-alert-stroke-color, #{$primary-color-400});
	--stroke-color-hover: var(--kiwi-alert-stroke-hover-color, #{$primary-color-500});
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	display: flex;
	padding: var(--kiwi-alert-padding, 1rem);
	border-radius: var(--kiwi-alert-border-radius, 0.5rem);
	border-left: var(--kiwi-alert-border, 0.5rem solid transparent);
	border-color: var(--border-color);
	background: var(--background-color);
	align-items: center;
	::slotted(*) {
		color: var(--body-color) !important;
	}
	::slotted(:where(h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, .subtitle-1, .subtitle-2)) {
		color: var(--header-color) !important;
	}
	#close-icon {
		align-self: flex-start;
		stroke: var(--stroke-color);
		&:focus,
		&:active,
		&:hover {
			stroke: var(--stroke-color-hover);
		}
	}
}

#content {
	flex: auto;
}

#close-icon {
	min-width: var(--kiwi-alert-icon-size, 1.5rem);
	width: var(--kiwi-alert-icon-size, 1.5rem);
	min-height: var(--kiwi-alert-icon-size, 1.5rem);
	height: var(--kiwi-alert-icon-size, 1.5rem);
	cursor: pointer;
	transition: opacity 200ms;
	stroke-width: 0.25rem;
	stroke-linecap: round;
}

:host(:not([useclosebutton])) #close-icon {
	display: none;
}

:host([type="primary"]) #container {
	--border-color: #{$primary-color-400};
	--background-color: #{$primary-color-50};
	--header-color: #{$primary-color-800};
	--body-color: #{$primary-color-700};
	--stroke-color: #{$primary-color-400};
	--stroke-color-hover: #{$primary-color-500};
}

:host([type="secondary"]) #container {
	--border-color: #{$secondary-color-400};
	--background-color: #{$secondary-color-50};
	--header-color: #{$secondary-color-800};
	--body-color: #{$secondary-color-700};
	--stroke-color: #{$secondary-color-400};
	--stroke-color-hover: #{$secondary-color-500};
}

:host([type="neutral"]) #container {
	--border-color: #{$neutral-color-400};
	--background-color: #{$neutral-color-100};
	--header-color: #{$neutral-color-800};
	--body-color: #{$neutral-color-700};
	--stroke-color: #{$neutral-color-400};
	--stroke-color-hover: #{$neutral-color-500};
}

:host([type="info"]) #container {
	--border-color: #{$info-color-400};
	--background-color: #{$info-color-50};
	--header-color: #{$info-color-800};
	--body-color: #{$info-color-700};
	--stroke-color: #{$info-color-400};
	--stroke-color-hover: #{$info-color-500};
}

:host([type="success"]) #container {
	--border-color: #{$success-color-400};
	--background-color: #{$success-color-50};
	--header-color: #{$success-color-800};
	--body-color: #{$success-color-700};
	--stroke-color: #{$success-color-400};
	--stroke-color-hover: #{$success-color-500};
}

:host([type="warning"]) #container {
	--border-color: #{$warning-color-400};
	--background-color: #{$warning-color-50};
	--header-color: #{$warning-color-800};
	--body-color: #{$warning-color-700};
	--stroke-color: #{$warning-color-400};
	--stroke-color-hover: #{$warning-color-500};
}

:host([type="error"]) #container {
	--border-color: #{$error-color-400};
	--background-color: #{$error-color-50};
	--header-color: #{$error-color-800};
	--body-color: #{$error-color-700};
	--stroke-color: #{$error-color-400};
	--stroke-color-hover: #{$error-color-500};
}
