@import "../../Stylesheets/variables.scss";
@import "../../Stylesheets/Internal/typography.scss";

/* Backdrop */

.backdrop {
	display: none;
	position: fixed;
	inset: 0;
	transition: opacity 300ms;
	z-index: 98;
}

:host([open][usebackdrop]) .backdrop {
	display: block !important;
}

#backdrop-color {
	background-color: $white;
	opacity: 50%;
}

#backdrop-blur {
	backdrop-filter: blur(var(--kiwi-window-backdrop-blur, 4px));
}

/* Main Panel */

#menu-panel {
	display: block;
	position: fixed;
	top: 0;
	height: 100vh;
	width: var(--kiwi-drawer-width, 600px);
	max-width: 100vw;
	z-index: 99;
	background: var(--kiwi-drawer-background, $white);
	transition: inset 300ms;
	box-shadow: none;

	#close-icon {
		width: var(--kiwi-drawer-button-size, 1.5rem);
		height: var(--kiwi-drawer-button-size, 1.5rem);
		position: absolute;
		z-index: 1;
		right: 1.5rem;
		top: 1.5rem;
		cursor: pointer;
		svg {
			transition: all 200ms;
			stroke: $neutral-color-900;
			fill: $neutral-color-900;
			opacity: 0.6;
			width: 100%;
			height: 100%;
			display: block;
			stroke-width: 3px;
			stroke-linecap: round;
		}
		&:hover svg {
			opacity: 1;
		}
	}
}

:host([nocloseicon]) #close-icon {
	display: none;
}

/* Header */

#header {
	position: relative;
	background-color: $neutral-color-50;
	padding: var(--kiwi-drawer-header-padding, 1.5rem);
	display: flex;
	flex-direction: column;
	gap: 0.75rem;
	#title {
		@extend %h5;
	}
	#subtitle {
		@extend %body-m;
		color: $neutral-color-500;
	}
}

:host(:not([title], [subtitle])) #header {
	display: none;
}

/* Body */

#body {
	position: relative;
	padding: var(--kiwi-drawer-body-padding, 1.5rem);
	overflow-y: auto;
}

/* Opening the menu panel */

:host([open]) #menu-panel {
	opacity: 1;
	pointer-events: unset;
	box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
}

#menu-panel {
	right: -100%;
}

:host([open]) #menu-panel {
	right: 0%;
}

:host([direction="left"]) #menu-panel {
	left: -100%;
}
:host([open][direction="left"]) #menu-panel {
	left: 0%;
}

/* Type configuration */

:host([type]:not([type="neutral"])) {
	#title {
		color: $with-color-above-400 !important;
	}
	#close-icon svg {
		stroke: white !important;
		fill: white !important;
	}
}

/* default */
:host([type="neutral"]) {
	#header {
		#title {
		}
		#subtitle {
		}
	}
}

:host([type="primary"]) {
	#header {
		background-color: $primary-color-700;
		#subtitle {
			color: $primary-color-200;
		}
	}
}

:host([type="secondary"]) {
	#header {
		background-color: $secondary-color-700;
		#subtitle {
			color: $secondary-color-200;
		}
	}
}

:host([type="info"]) {
	#header {
		background-color: $info-color-700;
		#subtitle {
			color: $info-color-200;
		}
	}
}

:host([type="success"]) {
	#header {
		background-color: $success-color-700;
		#subtitle {
			color: $success-color-200;
		}
	}
}

:host([type="warning"]) {
	#header {
		background-color: $warning-color-600;
		#subtitle {
			color: $warning-color-200;
		}
	}
}

:host([type="error"]) {
	#header {
		background-color: $error-color-700;
		#subtitle {
			color: $error-color-200;
		}
	}
}
