@import "../../Assets/Stylesheets/variables.scss";

#container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	cursor: pointer;
	transition: all 200ms;
}

svg path {
	stroke: gray;
	stroke-width: 3px;
	stroke-linecap: round;
}

#menu-panel {
	display: block;
	position: fixed;
	top: 0;
	height: 100vh;
	max-width: 100vw;
	width: max-content;
	background-color: lightgray;
	transition: all 200ms;
	opacity: 0;
	pointer-events: none;
}

:host([open]) #menu-panel {
	opacity: 1;
	pointer-events: unset;
}

#menu-panel {
	right: -100%;
}

:host([open]) #menu-panel {
	right: 0;
}

:host([direction="left"]) #menu-panel {
	left: -100%;
}
:host([open][direction="left"]) #menu-panel {
	left: 0;
}
