@import "../../../Assets/Stylesheets/variables.scss";
@import "../../../Assets/Stylesheets/Components/typography.scss";

* {
	box-sizing: border-box;
}

#main {
	@extend %h6;
	background: var(--kiwi-toast-background, white);
	box-shadow: var(--kiwi-toast-shadow, 0 2px 5px 0 rgba(0, 0, 0, 0.2));
	border-radius: var(--kiwi-toast-border-radius, 0.5em);
	outline: var(--kiwi-toast-outline, none);
	border: var(--kiwi-toast-border, none);
	margin-bottom: 1rem;
	padding: 1em;
	gap: 1em;
	width: var(--kiwi-toast-width, 350px);
	max-width: calc(100vw - 2em);
	display: flex;
	flex-direction: row;
	opacity: 1;
	transform: translate(0, 0);
	max-height: 500px;
	animation-duration: var(--kiwi-toast-animation-duration, 500ms);
	animation-direction: normal;
	animation-timing-function: ease-in-out;
	z-index: 99999;
}

@keyframes main-animation {
	0% {
		opacity: 0;
		transform: translate(var(--animation-h, 0), var(--animation-v, 0));
		max-height: 0px;
		padding: 0;
		margin-bottom: 0;
	}
	50% {
		opacity: 0;
		transform: translate(var(--animation-h, 0), var(--animation-v, 0));
		max-height: var(--height);
		padding: 1em;
		margin-bottom: 1rem;
	}
	100% {
		opacity: 1;
		transform: translate(0, 0);
		max-height: var(--height);
		padding: 1em;
		margin-bottom: 1rem;
	}
}

#icon {
	height: 1.5em;
	width: 1.5em;
	min-height: 1.5em;
	min-width: 1.5em;
	object-fit: contain;
	pointer-events: none;
	display: none;
	align-self: center;
}

#content {
	display: flex;
	flex-direction: column;
	flex: auto;
	gap: 0.5em;
	overflow: hidden;
}

#title {
	color: var(--kiwi-toast-title-color, #0f0f0f);
	display: none;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

#body {
	@extend %body-2;
	color: var(--kiwi-toast-body-color, gray);
	display: none;
	min-height: 1rem;
	height: 1rem;
	max-height: 1rem;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

:host([type="success"]) #main {
	border-left: 0.6em solid $success-color;
}

:host([type="primary"]) #main {
	border-left: 0.6em solid $primary-color;
}

:host([type="secondary"]) #main {
	border-left: 0.6em solid $secondary-color;
}

:host([type="neutral"]) #main {
	border-left: 0.6em solid #f7f7f7;
}

:host([type="info"]) #main {
	border-left: 0.6em solid $info-color;
}

:host([type="success"]) #main {
	border-left: 0.6em solid $success-color;
}

:host([type="warning"]) #main {
	border-left: 0.6em solid $warning-color;
}

:host([type="error"]) #main {
	border-left: 0.6em solid $error-color;
}
