@import "../../Assets/Stylesheets/variables.scss";
@import "../../Assets/Stylesheets/Components/typography.scss";
@import "../../Assets/Stylesheets/Components/scrollbar.scss";

#backdrop {
	position: fixed;
	inset: 0;
	background-color: rgba(0, 0, 0, var(--kiwi-window-backdrop-opacity, 0.5));
	backdrop-filter: blur(var(--kiwi-window-backdrop-blur, 4px));
}

#window {
	display: none;
	position: fixed;
	display: flex;
	flex-direction: column;
	box-shadow: var(--kiwi-window-shadow, 0 2px 5px 0 rgba(0, 0, 0, 0.2));
	border-radius: var(--kiwi-window-border-radius, 0.5em);
	animation-duration: var(--kiwi-window-animation-duration, 200ms);
	animation-timing-function: ease-in-out;
	transition: all var(--kiwi-window-animation-duration, 200ms);

	&.noanimation {
		transition: none !important;
	}
}

@keyframes main-animation {
	from {
		transform: scale(0.8);
		opacity: 0;
	}

	to {
		transform: scale(1);
		opacity: 1;
	}
}

/* 
 * By setting the border radius like this we are allowing for separate background colors for the header, body and footer 
 * without having to set overflow hidden on the #window element.
 * Setting overflow hidden could cause issues in dropdowns, menus, tooltips or other position:fixed elements inside of the window.
 */
#header,
:host(:not([title]):not([icon]):not([usedraggable]):not([useminimizable]):not([usemaximizable]):not([useclosebutton])) #body {
	border-top-left-radius: var(--kiwi-window-border-radius, 0.5em);
	border-top-right-radius: var(--kiwi-window-border-radius, 0.5em);
}

#footer,
:host(:not([footer])) #body {
	border-bottom-left-radius: var(--kiwi-window-border-radius, 0.5em);
	border-bottom-right-radius: var(--kiwi-window-border-radius, 0.5em);
}

#header {
	@extend %h4;
	font-weight: 600 !important;
	background: var(--kiwi-window-header-background, white);
	border-bottom: 1px solid var(--kiwi-window-separator-color, transparent);
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 0.5em;
	cursor: move;
	user-select: none;

	#header-text {
		display: none;
		flex: auto;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}

	#header-buttons {
		display: flex;
		flex-direction: row;
		gap: 0.5em;
		flex: auto;
		justify-content: end;
	}

	#minimize-icon,
	#maximize-icon,
	#close-icon {
		cursor: pointer;
		opacity: 0.4;
		transition: opacity var(--kiwi-window-animation-duration, 200ms);

		&:hover {
			opacity: 1;
		}
	}
}

#body {
	height: 100%;
	overflow: auto;
	background: var(--kiwi-window-body-background, white);
}

#footer {
	background: var(--kiwi-window-footer-background, white);
	border-top: 1px solid var(--kiwi-window-separator-color, transparent);
	display: flex;
	flex-direction: row;
	align-items: center;
	white-space: nowrap;
	overflow: hidden;
}

#body,
#footer {
	@extend %body-1;
}

#header,
#footer {
	min-height: rem;
}

#header,
#body,
#footer {
	padding: 1rem;
}

.resizer {
	position: absolute;
	height: 100%;
	width: 100%;
}

.resizer.top,
.resizer.bottom {
	height: 20px;
	cursor: ns-resize;
}

.resizer.left,
.resizer.right {
	width: 20px;
	cursor: ew-resize;
}

.resizer.top {
	top: -15px;
}

.resizer.right {
	right: -15px;
}

.resizer.bottom {
	bottom: -15px;
}

.resizer.left {
	left: -15px;
}

.resizer.top.right,
.resizer.bottom.left {
	cursor: nesw-resize;
}

.resizer.bottom.right,
.resizer.top.left {
	cursor: nwse-resize;
}

.icon {
	display: block;
	min-height: 1.5rem;
	min-width: 1.5rem;
	height: 1.5rem;
	width: 1.5rem;
	position: relative;

	&[src=""] {
		visibility: hidden;
	}

	&:not([src]) {
		display: none;
	}
}

.minimized {
	height: auto !important;

	#body,
	#footer {
		display: none;
	}

	#header-buttons {
		display: none !important;
	}

	#header {
		user-select: none;
		cursor: pointer;
	}
}

#window.maximized:not(.minimized) {
	width: 100vw !important;
	height: 100vh !important;
	inset: 0 !important;
	border-radius: 0 !important;

	* {
		border-radius: 0 !important;
	}
}

.drag {
	transition: none !important;
}

/* Most configurable attributes can be handled by pure CSS */
:host(:not([title]):not([icon]):not([usedraggable]):not([useminimizable]):not([usemaximizable]):not([useclosebutton])) #header {
	display: none;
}

:host(:not([footer])) #footer {
	display: none;
}

:host(:not([useminimizable])) #minimize-icon {
	display: none;
}

:host(:not([usemaximizable])) #maximize-icon {
	display: none;
}

:host(:not([useclosebutton])) #close-icon {
	display: none;
}

:host(:not([usedraggable])) #header {
	cursor: default;
}

:host([modality="none"]) #backdrop,
:host(:not([modality])) #backdrop {
	display: none;
}

:host([scale="none"]) {

	#header,
	#footer {
		min-height: 0;
	}
	#header,
	#body,
	#footer {
		padding: 0;
	}
}

:host([scale="compact"]) {

	#header,
	#footer {
		min-height: 1rem;
	}

	#header {
		@extend %subtitle-2;
	}

	#body,
	#footer {
		@extend %body-2;
	}

	#header,
	#body,
	#footer {
		padding: 0.5rem;
	}

	.icon {
		min-height: 1em;
		min-width: 1em;
		height: 1em;
		width: 1em;
	}
}

:host([scale="small"]) {
	#header,
	#footer {
		min-height: 1.5rem;
	}

	.icon {
		min-height: 1em;
		min-width: 1em;
		height: 1em;
		width: 1em;
	}

	#header,
	#body,
	#footer {
		padding: 0.5rem;
	}

	#header {
		@extend %h5;
	}
}

/* Medium means default values */

:host([scale="large"]) {

	#header,
	#footer {
		min-height: 2rem;
	}

	#header,
	#body,
	#footer {
		padding: 1.5rem;
	}

	#header {
		@extend %h4;
		font-size: 2rem;
	}
}

:host([noanimation]) {
	* {
		transition-duration: 0ms !important;
	}
}

:host([usecentered]) #window {
	inset: 0 !important;
	margin: auto !important;
}

:host([useautosize]) #window {
	height: fit-content !important;
	width: fit-content !important;
	/* Note: a window can be "maximized" without being "resizable". */
	max-height: calc(100vh - 2rem) !important;
	max-width: calc(100vw - 2rem) !important;
}

:host(:not([useresizable])) .resizer {
	display: none;
}