@import "../../Assets/Stylesheets/variables.scss";
@import "../../Assets/Stylesheets/Components/typography.scss";

kiwi-table {
	tbody tr {
		&._kiwi-table-imploded {
			display: none;
		}
		&._kiwi-table-selected {
			background: $neutral-color-200 !important;
		}
	}

	._kiwi-table-title {
		overflow: hidden;
		text-overflow: ellipsis;
		font-weight: 700;
	}

	._kiwi-table-cell {
		display: flex;
		justify-content: left;
		align-items: center;
		gap: 0.5em;
	}

	._kiwi-table-injection input[type="checkbox"] {
		width: 1.25rem;
		height: 1.25rem;
	}

	._kiwi-table-indent {
		width: 1rem;
	}

	._kiwi-table-expand-arrow {
		object-fit: contain;
		width: 1em;
		height: 1em;
		content: $icon-chevron-right;
	}

	tr._kiwi-table-open ._kiwi-table-expand-arrow {
		content: $icon-chevron-down;
	}

	._kiwi-table-icon {
		height: 1em;
		width: 1em;
		min-height: 1em;
		min-width: 1em;
		object-fit: contain;
		display: block;
	}

	._kiwi-table-filtered-visible {
		display: table-row !important;
	}

	._kiwi-table-filtered-visible ._kiwi-table-expand-arrow {
		display: none;
	}

	._kiwi-table-filtered-hidden {
		display: none !important;
	}
}
