@import "../../../Assets/Stylesheets/variables.scss";
@import "../../../Assets/Stylesheets/Components/typography.scss";

#main {
	@extend %body-2;
	background: var(--kiwi-menu-background, black);
	color: var(--kiwi-menu-color, white);
	transition: background-color var(--kiwi-menu-animation-duration, 200ms);
	display: flex;
	flex-direction: row;
	gap: 0.5em;
	align-items: center;
	height: 1.5em;
	margin: var(--margin);
	padding: 0.25em 0.5em;
	border-radius: 0.25em;
	user-select: none;
	cursor: pointer;
	min-width: 200px;
	position: relative;
}

:host([disabled]) #main {
	color: var(--kiwi-menu-disabled-color, gray);
}

:host(:not([disabled])) #main:hover {
	background: var(--kiwi-menu-hover-background, white);
	color: var(--kiwi-menu-hover-color, black);
}

:host(:not([disabled])) #main.has-submenu:hover {
	background: var(--kiwi-menu-submenu-hover-background, gray);
	color: var(--kiwi-menu-submenu-hover-color, black);
}

.icon {
	min-height: 1em;
	min-width: 1em;
	height: 1em;
	width: 1em;
}

#icon:not([src]) {
	display: none;
}

#icon[src=""] {
	visibility: hidden;
}

#text {
	flex: auto;
}

#detail {
	justify-content: flex-end;
}

#right-arrow {
	display: none;
}

#right-arrow svg {
	fill: var(--kiwi-menu-color, white);
}

:host([disabled]) #right-arrow path {
	fill: var(--kiwi-menu-disabled-color, gray);
}
:host(:not([disabled])) #main.has-submenu:hover #right-arrow path {
	fill: var(--kiwi-menu-submenu-hover-color, black);
}

#submenu {
	position: absolute;
	left: 100%;
	top: 0px;
	/* Equal to the margin of the parent (to cancel it out) */
	margin-top: calc(var(--margin) * -1);
	/* Equal to the values of kiwi-menu */
	background: var(--kiwi-menu-background-color, black);
	color: var(--kiwi-menu-color, white);
	box-shadow: var(--kiwi-menu-shadow, 0 2px 5px 0 rgba(0, 0, 0, 0.2));
	border-radius: var(--kiwi-menu-border-radius, 0.5em);
	transition: opacity var(--kiwi-menu-animation-duration, 200ms) ease-in-out, transform var(--kiwi-menu-animation-duration, 200ms) ease-in-out;
	opacity: 0;
	transform-origin: left;
	transform: translateX(-3px) rotateY(20deg);
	pointer-events: none;

	&.reversed {
		transform-origin: right;
		transform: translateX(3px) rotateY(-20deg);
	}
}

#main:hover #submenu {
	opacity: 1;
	transform: none;
	pointer-events: all;
}
