@import "../../../Assets/Stylesheets/variables.scss";
@import "../../../Assets/Stylesheets/Components/scrollbar.scss";

#main {
	display: none;
	position: fixed;
	z-index: 1000;
	left: 0;
	top: 0;
	background: var(--kiwi-menu-background, black);
	color: var(--kiwi-menu-color, white);
	box-shadow: var(--kiwi-menu-shadow, 0 2px 5px 0 rgba(0, 0, 0, 0.2));
	border-radius: var(--kiwi-menu-border-radius, 0.5em);
	user-select: none;
	transition: transform var(--kiwi-menu-animation-duration, 200ms) ease-in-out, opacity var(--kiwi-menu-animation-duration, 200ms) ease-in-out,
		clip-path var(--kiwi-menu-animation-duration, 200ms) ease-in-out;
	opacity: 0;
	transform-origin: top center;
	transform: translateY(-5px) rotateX(-60deg);
}

:host([mode="contextmenu"]) #main {
	transform-origin: top left;
	transform: scale(0);
}

.visible {
	transform: none !important;
	opacity: 1 !important;
}
