@import "../variables.scss";
@import "../Components/typography.scss";

:is(button, a[role="button"]) {
	--background-color: #{$primary-color-600};
	--background-color-hover: #{$primary-color-500};
	--background-color-focus: #{$primary-color-500};
	--text-color: #{$with-color-above-400};
	--text-color-hover: #{$with-color-above-400};
	box-sizing: border-box;
	padding: 1em 1.5em;
	cursor: pointer;
	white-space: nowrap;
	text-align: center;
	width: 100%;
	border: none;
	outline: none;
	transition: all var(--kiwi-button-animation-duration, 500ms), transform 0ms, border 0ms;
	border-radius: $border-radius-small;
	box-shadow: none;
	color: var(--text-color) !important;
	background: var(--background-color);

	&:active {
		transform: translateY(2px);
	}
	&:active,
	&:hover {
		background: var(--background-color-hover);
		color: var(--text-color-hover);
	}
	&:focus {
		background: var(--background-color-focus);
		color: var(--text-color-hover);
	}
	&[disabled] {
		cursor: not-allowed;
	}
}

a[role="button"] {
	text-decoration: none !important;
}

:is(button, a[role="button"]) *,
kiwi-button *,
a[role="button"] {
	@extend %button;
}

:is(button, a[role="button"]).useanimation {
	overflow: hidden;
	&::before {
		content: "";
		position: absolute;
		inset: 0;
		pointer-events: none;
		transition: opacity var(--kiwi-button-animation-duration, 500ms), transform var(--kiwi-button-animation-duration, 500ms);
		background-color: rgba(255, 255, 255, 0.15);
		z-index: -1;
		transform: translateX(-130%) skew(-30deg);
		opacity: 0;
	}
	&:hover::before {
		transform: translateX(0px) skew(0deg);
		opacity: 1;
	}
}

:is(button, a[role="button"]).type-primary {
	--background-color: #{$primary-color-600};
	--background-color-hover: #{$primary-color-500};
	--background-color-focus: #{$primary-color-500};
}
:is(button, a[role="button"]).type-primary.fill-light {
	--background-color: #{$primary-color-200};
	--background-color-hover: #{$primary-color-300};
	--background-color-focus: #{$primary-color-300};
	--text-color: #{$primary-color-700};
	--text-color-hover: #{$primary-color-900};
}
:is(button, a[role="button"]).type-primary.fill-link {
	--background-color: transparent;
	--background-color-hover: transparent;
	--background-color-focus: #{$primary-color-200};
	--text-color: #{$primary-color-600};
	--text-color-hover: #{$primary-color-800};
}
:is(button, a[role="button"]).type-primary.fill-none {
	--background-color: transparent;
	--background-color-hover: #{$primary-color-200};
	--background-color-focus: #{$primary-color-200};
	--text-color: #{$primary-color-600};
	--text-color-hover: #{$primary-color-700};
}

:is(button, a[role="button"]).type-secondary {
	--background-color: #{$secondary-color-600};
	--background-color-hover: #{$secondary-color-500};
	--background-color-focus: #{$secondary-color-500};
}
:is(button, a[role="button"]).type-secondary.fill-light {
	--background-color: #{$secondary-color-200};
	--background-color-hover: #{$secondary-color-300};
	--background-color-focus: #{$secondary-color-300};
	--text-color: #{$secondary-color-700};
	--text-color-hover: #{$secondary-color-900};
}
:is(button, a[role="button"]).type-secondary.fill-link {
	--background-color: transparent;
	--background-color-hover: transparent;
	--background-color-focus: #{$secondary-color-200};
	--text-color: #{$secondary-color-600};
	--text-color-hover: #{$secondary-color-800};
}
:is(button, a[role="button"]).type-secondary.fill-none {
	--background-color: transparent;
	--background-color-hover: #{$secondary-color-200};
	--background-color-focus: #{$secondary-color-200};
	--text-color: #{$secondary-color-600};
	--text-color-hover: #{$secondary-color-700};
}

:is(button, a[role="button"]).type-neutral {
	--background-color: #{$neutral-color-600};
	--background-color-hover: #{$neutral-color-500};
	--background-color-focus: #{$neutral-color-500};
}
:is(button, a[role="button"]).type-neutral.fill-light {
	--background-color: #{$neutral-color-200};
	--background-color-hover: #{$neutral-color-300};
	--background-color-focus: #{$neutral-color-300};
	--text-color: #{$neutral-color-700};
	--text-color-hover: #{$neutral-color-900};
}
:is(button, a[role="button"]).type-neutral.fill-link {
	--background-color: transparent;
	--background-color-hover: transparent;
	--background-color-focus: #{$neutral-color-200};
	--text-color: #{$neutral-color-600};
	--text-color-hover: #{$neutral-color-800};
}
:is(button, a[role="button"]).type-neutral.fill-none {
	--background-color: transparent;
	--background-color-hover: #{$neutral-color-200};
	--background-color-focus: #{$neutral-color-200};
	--text-color: #{$neutral-color-600};
	--text-color-hover: #{$neutral-color-700};
}

:is(button, a[role="button"]).type-info {
	--background-color: #{$info-color-600};
	--background-color-hover: #{$info-color-500};
	--background-color-focus: #{$info-color-500};
}
:is(button, a[role="button"]).type-info.fill-light {
	--background-color: #{$info-color-200};
	--background-color-hover: #{$info-color-300};
	--background-color-focus: #{$info-color-300};
	--text-color: #{$info-color-700};
	--text-color-hover: #{$info-color-900};
}
:is(button, a[role="button"]).type-info.fill-link {
	--background-color: transparent;
	--background-color-hover: transparent;
	--background-color-focus: #{$info-color-200};
	--text-color: #{$info-color-600};
	--text-color-hover: #{$info-color-800};
}
:is(button, a[role="button"]).type-info.fill-none {
	--background-color: transparent;
	--background-color-hover: #{$info-color-200};
	--background-color-focus: #{$info-color-200};
	--text-color: #{$info-color-600};
	--text-color-hover: #{$info-color-700};
}

:is(button, a[role="button"]).type-success {
	--background-color: #{$success-color-600};
	--background-color-hover: #{$success-color-500};
	--background-color-focus: #{$success-color-500};
}
:is(button, a[role="button"]).type-success.fill-light {
	--background-color: #{$success-color-200};
	--background-color-hover: #{$success-color-300};
	--background-color-focus: #{$success-color-300};
	--text-color: #{$success-color-700};
	--text-color-hover: #{$success-color-900};
}
:is(button, a[role="button"]).type-success.fill-link {
	--background-color: transparent;
	--background-color-hover: transparent;
	--background-color-focus: #{$success-color-200};
	--text-color: #{$success-color-600};
	--text-color-hover: #{$success-color-800};
}
:is(button, a[role="button"]).type-success.fill-none {
	--background-color: transparent;
	--background-color-hover: #{$success-color-200};
	--background-color-focus: #{$success-color-200};
	--text-color: #{$success-color-600};
	--text-color-hover: #{$success-color-700};
}

:is(button, a[role="button"]).type-warning {
	--background-color: #{$warning-color-600};
	--background-color-hover: #{$warning-color-500};
	--background-color-focus: #{$warning-color-500};
}
:is(button, a[role="button"]).type-warning.fill-light {
	--background-color: #{$warning-color-200};
	--background-color-hover: #{$warning-color-300};
	--background-color-focus: #{$warning-color-300};
	--text-color: #{$warning-color-700};
	--text-color-hover: #{$warning-color-900};
}
:is(button, a[role="button"]).type-warning.fill-link {
	--background-color: transparent;
	--background-color-hover: transparent;
	--background-color-focus: #{$warning-color-200};
	--text-color: #{$warning-color-600};
	--text-color-hover: #{$warning-color-800};
}
:is(button, a[role="button"]).type-warning.fill-none {
	--background-color: transparent;
	--background-color-hover: #{$warning-color-200};
	--background-color-focus: #{$warning-color-200};
	--text-color: #{$warning-color-600};
	--text-color-hover: #{$warning-color-700};
}

:is(button, a[role="button"]).type-error {
	--background-color: #{$error-color-600};
	--background-color-hover: #{$error-color-500};
	--background-color-focus: #{$error-color-500};
}
:is(button, a[role="button"]).type-error.fill-light {
	--background-color: #{$error-color-200};
	--background-color-hover: #{$error-color-300};
	--background-color-focus: #{$error-color-300};
	--text-color: #{$error-color-700};
	--text-color-hover: #{$error-color-900};
}
:is(button, a[role="button"]).type-error.fill-link {
	--background-color: transparent;
	--background-color-hover: transparent;
	--background-color-focus: #{$error-color-200};
	--text-color: #{$error-color-600};
	--text-color-hover: #{$error-color-800};
}
:is(button, a[role="button"]).type-error.fill-none {
	--background-color: transparent;
	--background-color-hover: #{$error-color-200};
	--background-color-focus: #{$error-color-200};
	--text-color: #{$error-color-600};
	--text-color-hover: #{$error-color-700};
}
