:root {
	--kiwi-black: #22292f;
	--kiwi-white: #ffffff;

	--kiwi-with-dark-color: #ffffff;
	--kiwi-with-light-color: #111827;
	--kiwi-with-light-color-faded: #4b5563;

	--kiwi-primary-color-50: #eef2ff;
	--kiwi-primary-color-100: #e0e7ff;
	--kiwi-primary-color-200: #c7d2fe;
	--kiwi-primary-color-300: #a5b4fc;
	--kiwi-primary-color-400: #818cf8;
	--kiwi-primary-color-500: #6366f1;
	--kiwi-primary-color-600: #4f46e5;
	--kiwi-primary-color-700: #4338ca;
	--kiwi-primary-color-800: #3730a3;
	--kiwi-primary-color-900: #312e81;

	--kiwi-secondary-color-50: #f8fafc;
	--kiwi-secondary-color-100: #f1f5f9;
	--kiwi-secondary-color-200: #e2e8f0;
	--kiwi-secondary-color-300: #cbd5e1;
	--kiwi-secondary-color-400: #94a3b8;
	--kiwi-secondary-color-500: #64748b;
	--kiwi-secondary-color-600: #475569;
	--kiwi-secondary-color-700: #334155;
	--kiwi-secondary-color-800: #1e293b;
	--kiwi-secondary-color-900: #0f172a;

	--kiwi-neutral-color-50: #f9fafb;
	--kiwi-neutral-color-100: #f3f4f6;
	--kiwi-neutral-color-200: #e5e7eb;
	--kiwi-neutral-color-300: #d1d5db;
	--kiwi-neutral-color-400: #9ca3af;
	--kiwi-neutral-color-500: #6b7280;
	--kiwi-neutral-color-600: #4b5563;
	--kiwi-neutral-color-700: #374151;
	--kiwi-neutral-color-800: #1f2937;
	--kiwi-neutral-color-900: #111827;

	--kiwi-info-color-50: #eff6ff;
	--kiwi-info-color-100: #dbeafe;
	--kiwi-info-color-200: #bfdbfe;
	--kiwi-info-color-300: #93c5fd;
	--kiwi-info-color-400: #60a5fa;
	--kiwi-info-color-500: #3b82f6;
	--kiwi-info-color-600: #2563eb;
	--kiwi-info-color-700: #1d4ed8;
	--kiwi-info-color-800: #1e40af;
	--kiwi-info-color-900: #1e3a8a;

	--kiwi-success-color-50: #f0fdf4;
	--kiwi-success-color-100: #dcfce7;
	--kiwi-success-color-200: #bbf7d0;
	--kiwi-success-color-300: #86efac;
	--kiwi-success-color-400: #4ade80;
	--kiwi-success-color-500: #22c55e;
	--kiwi-success-color-600: #16a34a;
	--kiwi-success-color-700: #15803d;
	--kiwi-success-color-800: #166534;
	--kiwi-success-color-900: #14532d;

	--kiwi-warning-color-50: #fefce8;
	--kiwi-warning-color-100: #fef9c3;
	--kiwi-warning-color-200: #fef08a;
	--kiwi-warning-color-300: #fde047;
	--kiwi-warning-color-400: #facc15;
	--kiwi-warning-color-500: #eab308;
	--kiwi-warning-color-600: #ca8a04;
	--kiwi-warning-color-700: #a16207;
	--kiwi-warning-color-800: #854d0e;
	--kiwi-warning-color-900: #713f12;

	--kiwi-error-color-50: #fef2f2;
	--kiwi-error-color-100: #fee2e2;
	--kiwi-error-color-200: #fecaca;
	--kiwi-error-color-300: #fca5a5;
	--kiwi-error-color-400: #f87171;
	--kiwi-error-color-500: #ef4444;
	--kiwi-error-color-600: #dc2626;
	--kiwi-error-color-700: #b91c1c;
	--kiwi-error-color-800: #991b1b;
	--kiwi-error-color-900: #7f1d1d;
}
