//Typography
$font-family-heading: var(
	--kiwi-font-family-heading,
	system-ui,
	-apple-system,
	"Segoe UI",
	Roboto,
	"Helvetica Neue",
	"Noto Sans",
	"Liberation Sans",
	Arial,
	sans-serif,
	"Apple Color Emoji",
	"Segoe UI Emoji",
	"Segoe UI Symbol",
	"Noto Color Emoji"
);
$font-family-body: var(
	--kiwi-font-family-body,
	system-ui,
	-apple-system,
	"Segoe UI",
	Roboto,
	"Helvetica Neue",
	"Noto Sans",
	"Liberation Sans",
	Arial,
	sans-serif,
	"Apple Color Emoji",
	"Segoe UI Emoji",
	"Segoe UI Symbol",
	"Noto Color Emoji"
);

//Color palette
$black: var(--kiwi-black, #22292f);
$white: var(--kiwi-white, #ffffff);

$primary-color-50: var(--kiwi-primary-color-50, #eef2ff);
$primary-color-100: var(--kiwi-primary-color-100, #e0e7ff);
$primary-color-200: var(--kiwi-primary-color-200, #c7d2fe);
$primary-color-300: var(--kiwi-primary-color-300, #a5b4fc);
$primary-color-400: var(--kiwi-primary-color-400, #818cf8);
$primary-color-500: var(--kiwi-primary-color-500, #6366f1);
$primary-color-600: var(--kiwi-primary-color-600, #4f46e5);
$primary-color-700: var(--kiwi-primary-color-700, #4338ca);
$primary-color-800: var(--kiwi-primary-color-800, #3730a3);
$primary-color-900: var(--kiwi-primary-color-900, #312e81);

$secondary-color-50: var(--kiwi-secondary-color-50, #f8fafc);
$secondary-color-100: var(--kiwi-secondary-color-100, #f1f5f9);
$secondary-color-200: var(--kiwi-secondary-color-200, #e2e8f0);
$secondary-color-300: var(--kiwi-secondary-color-300, #cbd5e1);
$secondary-color-400: var(--kiwi-secondary-color-400, #94a3b8);
$secondary-color-500: var(--kiwi-secondary-color-500, #64748b);
$secondary-color-600: var(--kiwi-secondary-color-600, #475569);
$secondary-color-700: var(--kiwi-secondary-color-700, #334155);
$secondary-color-800: var(--kiwi-secondary-color-800, #1e293b);
$secondary-color-900: var(--kiwi-secondary-color-900, #0f172a);

$neutral-color-50: var(--kiwi-neutral-color-50, #f9fafb);
$neutral-color-100: var(--kiwi-neutral-color-100, #f3f4f6);
$neutral-color-200: var(--kiwi-neutral-color-200, #e5e7eb);
$neutral-color-300: var(--kiwi-neutral-color-300, #d1d5db);
$neutral-color-400: var(--kiwi-neutral-color-400, #9ca3af);
$neutral-color-500: var(--kiwi-neutral-color-500, #6b7280);
$neutral-color-600: var(--kiwi-neutral-color-600, #4b5563);
$neutral-color-700: var(--kiwi-neutral-color-700, #374151);
$neutral-color-800: var(--kiwi-neutral-color-800, #1f2937);
$neutral-color-900: var(--kiwi-neutral-color-900, #111827);

$info-color-50: var(--kiwi-info-color-50, #eff6ff);
$info-color-100: var(--kiwi-info-color-100, #dbeafe);
$info-color-200: var(--kiwi-info-color-200, #bfdbfe);
$info-color-300: var(--kiwi-info-color-300, #93c5fd);
$info-color-400: var(--kiwi-info-color-400, #60a5fa);
$info-color-500: var(--kiwi-info-color-500, #3b82f6);
$info-color-600: var(--kiwi-info-color-600, #2563eb);
$info-color-700: var(--kiwi-info-color-700, #1d4ed8);
$info-color-800: var(--kiwi-info-color-800, #1e40af);
$info-color-900: var(--kiwi-info-color-900, #1e3a8a);

$success-color-50: var(--kiwi-success-color-50, #f0fdf4);
$success-color-100: var(--kiwi-success-color-100, #dcfce7);
$success-color-200: var(--kiwi-success-color-200, #bbf7d0);
$success-color-300: var(--kiwi-success-color-300, #86efac);
$success-color-400: var(--kiwi-success-color-400, #4ade80);
$success-color-500: var(--kiwi-success-color-500, #22c55e);
$success-color-600: var(--kiwi-success-color-600, #16a34a);
$success-color-700: var(--kiwi-success-color-700, #15803d);
$success-color-800: var(--kiwi-success-color-800, #166534);
$success-color-900: var(--kiwi-success-color-900, #14532d);

$warning-color-50: var(--kiwi-warning-color-50, #fefce8);
$warning-color-100: var(--kiwi-warning-color-100, #fef9c3);
$warning-color-200: var(--kiwi-warning-color-200, #fef08a);
$warning-color-300: var(--kiwi-warning-color-300, #fde047);
$warning-color-400: var(--kiwi-warning-color-400, #facc15);
$warning-color-500: var(--kiwi-warning-color-500, #eab308);
$warning-color-600: var(--kiwi-warning-color-600, #ca8a04);
$warning-color-700: var(--kiwi-warning-color-700, #a16207);
$warning-color-800: var(--kiwi-warning-color-800, #854d0e);
$warning-color-900: var(--kiwi-warning-color-900, #713f12);

$error-color-50: var(--kiwi-error-color-50, #fef2f2);
$error-color-100: var(--kiwi-error-color-100, #fee2e2);
$error-color-200: var(--kiwi-error-color-200, #fecaca);
$error-color-300: var(--kiwi-error-color-300, #fca5a5);
$error-color-400: var(--kiwi-error-color-400, #f87171);
$error-color-500: var(--kiwi-error-color-500, #ef4444);
$error-color-600: var(--kiwi-error-color-600, #dc2626);
$error-color-700: var(--kiwi-error-color-700, #b91c1c);
$error-color-800: var(--kiwi-error-color-800, #991b1b);
$error-color-900: var(--kiwi-error-color-900, #7f1d1d);

$with-color-above-400: var(--kiwi-with-dark-color, $white);
$with-color-below-500: var(--kiwi-with-light-color, $neutral-color-900);
$with-color-below-500-faded: var(--kiwi-with-light-color-faded, $neutral-color-600);

//Roundness
$component-border-radius: var(--kiwi-component-border-radius, 0.25rem);
$section-border-radius: var(--kiwi-section-border-radius, 0.5rem);

//Shadows
$section-shadow: var(--kiwi-section-shadow, 0 2px 5px 0 rgba(0, 0, 0, 0.2));

//Scrollbars Standard
$scrollbar-width: var(--kiwi-scrollbar-width, thin);
$scrollbar-thumb-color: var(--kiwi-scrollbar-thumb-color, #cdcdcd);
$scrollbar-track-color: var(--kiwi-scrollbar-track-color, #f0f0f0);
//Scrollbars Webkit
$scrollbar-width-webkit: var(--kiwi-scrollbar-width-webkit, 9px);
$scrollbar-thumb-radius: var(--kiwi-scrollbar-thumb-radius, 0);
$scrollbar-thumb-boxshadow: var(--kiwi-scrollbar-thumb-boxshadow, none);
$scrollbar-thumb-border: var(--kiwi-scrollbar-thumb-border, none);
$scrollbar-track-backgroundsize: var(--kiwi-scrollbar-track-backgroundsize, 0);
//Scrollbars Webkit Hover
$scrollbar-thumb-color-hover: var(--kiwi-scrollbar-thumb-color-hover, #cdcdcd);
$scrollbar-thumb-radius-hover: var(--kiwi-scrollbar-thumb-radius-hover, 0);
$scrollbar-thumb-boxshadow-hover: var(--kiwi-scrollbar-thumb-boxshadow-hover, none);
$scrollbar-thumb-border-hover: var(--kiwi-scrollbar-thumb-border-hover, none);
//Scrollbars Webkit Active
$scrollbar-thumb-color-active: var(--kiwi-scrollbar-thumb-color-active, #cdcdcd);
$scrollbar-thumb-radius-active: var(--kiwi-scrollbar-thumb-radius-active, 0);
$scrollbar-thumb-boxshadow-active: var(--kiwi-scrollbar-thumb-boxshadow-active, none);
$scrollbar-thumb-border-active: var(--kiwi-scrollbar-thumb-border-active, none);

//Inline icons
$icon-chevron-down: var(
	--kiwi-chevron-down-icon-url,
	url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"><polyline points="2 6 12 17 22 6"/></svg>')
);
$icon-chevron-right: var(
	--kiwi-chevron-right-icon-url,
	url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"><polyline points="6 2 17 12 6 22"/></svg>')
);
